<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="edit">
        <h2>Edit your Post</h2>
        <h3>your id : <%= post.id %></h3>
        <h3>Username : @<%= post.username %></h3>
       <form action="/posts/<%= post.id method=PATCH" method="post">
 <textarea name="content" id="" placeholder=""><%= post.content %></textarea><br><br>
 <button>Submit</button>
       </form>
    </div>
</body>
</html>