<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="enter">
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter your name"><br><br>
        <textarea name="content"  placeholder="Write your Content"></textarea><br><br>
        <button>Submit posts</button>
    </form>
</div>
</body>
</html>